apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: NodePort # use NodePort for simple access, or LoadBalancer on cloud
  selector:
    app: web
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
